[submodule "jdk11u"]
	path = jdk11u
	url = https://github.com/openjdk-riscv/jdk11u.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "ruyi-sdk"]
	path = ruyi-sdk
	url = git@isrc.iscas.ac.cn:plct/ruyi/ruyi-sdk.git
